html>body{
	&.yellow{
		background-color:$yellow;
	}
	&.red{
		background-color:$red !important;
		>section>div#holder{
			background-color:transparent !important;
		}
	}
	&.green{
		background-color:$green !important;
		>section>div#holder{
			background-color:transparent !important;
		}
	}
	
	>section>div#holder>canvas{
		width:calc(100vw - 20vmin);
		height:calc(100vw - 20vmin);
	}
}